[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=roboshop-us-dev-db-redis-01.sivadevops.website
Environment=CATALOGUE_HOST=roboshop-us-dev-app-catalogue-01.sivadevops.website
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target