[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=roboshop-us-dev-app-cart-01.sivadevops.website:8080
Environment=DB_HOST=roboshop-us-dev-db-mysql-01.sivadevops.website
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target